/* === References === */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+Pro&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro'; }

p {
  font-size: 1.1rem;
  line-height: 1.2; }

h1, h2, h3, h4, h5, h6, p, label, a, span, i {
  color: #e1e2e3; }

body {
  background-color: #030408; }

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 1rem 0 1rem 0; }
  nav section {
    display: flex;
    align-content: center; }
  nav section.home-icon {
    padding-left: 1rem; }
  nav section.auth-icons {
    padding-right: 1rem; }
  nav a {
    display: flex;
    align-items: center;
    justify-content: center; }
  nav i {
    color: #e1e2e3;
    font-size: 2.0rem;
    height: 2.0rem;
    object-fit: fill;
    overflow: hidden; }
  nav .nav-auth {
    color: #e1e2e3;
    padding: 1rem;
    font-weight: 500; }
  nav #nav-signup {
    color: #030408;
    background-color: #e1e2e3; }

article.profile-article .portfolio-list {
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  max-width: 350px; }

article.profile-article h3 {
  line-height: 1.0;
  margin-bottom: 0.25rem; }

article.profile-article .profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover; }

article.profile-article .portfolio-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }

article.profile-article .stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem; }

article.profile-article .button-delete-stock {
  margin: 0rem;
  padding: 0.25rem 0.25rem;
  color: #030408;
  border: none;
  background-color: #030408; }

article.profile-article .porfolio-buttons {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
  width: 350px; }

main {
  grid-area: main; }

article {
  display: flex;
  flex-direction: column;
  align-items: center; }

article.home-top-article {
  height: 300px;
  width: 100vw;
  margin-bottom: 1rem; }
  article.home-top-article .banner-background {
    position: absolute;
    object-fit: cover;
    height: inherit;
    width: inherit; }
  article.home-top-article .banner-text {
    z-index: 1;
    background: #030408;
    padding: 1rem 6rem;
    margin-top: 5rem; }

article.home-body-article {
  margin: 0 6rem; }
  article.home-body-article .text-explainer {
    padding: 0 0.5rem;
    margin: 1rem 0; }
  article.home-body-article .text-explainer-body {
    margin: 1rem 0;
    padding: 0 2rem;
    max-width: 800px; }
  article.home-body-article .img-explainer {
    border-radius: 5%;
    width: 80%; }
  article.home-body-article section.user-inputs {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3rem;
    width: 100%; }
  article.home-body-article .stock-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  article.home-body-article input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem; }
  article.home-body-article button {
    width: 100%;
    margin: 0.5rem; }
  article.home-body-article h3 {
    padding-left: 0.5rem; }

@media only screen and (min-width: 900px) {
  section.explainer {
    display: flex;
    padding: 3rem;
    align-items: center; }
  h1 {
    font-size: 3.5rem; } }

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 2rem; } }

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 1rem; } }

/*# sourceMappingURL=main.css.map */