nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 1rem 0 1rem 0;

    section {
        display: flex;
        align-content: center;
    }

    section.home-icon {
        padding-left: 1rem;
    }

    section.auth-icons {
        padding-right: 1rem;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i {
        color: $white;
        font-size: 2.0rem;
        height: 2.0rem;
        object-fit: fill;
        overflow: hidden;
    }

    .nav-auth {
        color: $white;
        padding: 1rem;
        font-weight: 500;
    }

    #nav-signup {
        color: $black;
        background-color: $white;
    }
}