* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    // border: 1px solid goldenrod;
}

p {
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, p, label, a, span, i {
    color: $white;
}