// TODO: Move * and body here

body {
    background-color: $black;
    padding: 1rem;

    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "nav"
        "articles"; 
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
}

h1, h2, h3, h4, h5, label, a, span, i {
    color: $white;
}

h6, p {
    color: rgb(150, 150, 150);
}