@import "./_variables/colors";
@import "./_pages/home";
@import "./_base/normalize";
@import "./_base/nav";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+Pro&display=swap');

// COLORS
/*
    $black: #030408;
    $blue: #20275c;
    $grey: #3f4445;
    $green: #308f3e;
    $purple: #332aa0;
    $red: #9a3450;
    $white: #e1e2e3;
    $orange: #faa72e;
*/

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro'
    // border: 1px solid goldenrod;
}

article {
    grid-area: articles;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 2rem;
    }

    .stock-inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        input, button {
            margin: 0.5rem;
            padding: 0.5rem;
        }
    }

    .stock-list {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 720px) {    
    article {
        section {
            padding: 0.5rem;
            width: 720px;
        }
    }
}