<!-- NOTE: Mobile Goal: 
    https://dribbble.com/shots/16070493-ProFinance-Finance-Management-App-Concept-Animation -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<article class="home">
    <!-- Hero Section -->
    <section class="home">
        <h1>
            Boost Your Investing Luck
        </h1>
        <h5>
            An app to maximize your chance of earning well
        </h5>
    </section>

    <!-- About Section -->
    <section class="home">
        <h3>What is Stocky?</h3>

        <h5>How it works?</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia aliquam quo iure minus libero a impedit exercitationem expedita nisi ipsa esse explicabo perferendis illo, deserunt ut autem? Eligendi, numquam vel!</p>

        <h5>Under the Hood</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, itaque maiores impedit in enim soluta laudantium accusantium, reprehenderit magnam cupiditate eius sit. Incidunt soluta dicta, dolor quas aperiam hic accusamus!</p>
    </section>

    <!-- Enter Stock Inputs -->
    <section class="home">
        <h3>
            Enter Tickers and Portfolio Valuation
        </h3>
        
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}

            <div class='stock stock-inputs'>
                <input type="text" name="tickers" placeholder="AAPL, MSFT, GOOGL">
                <input 
                    type="number" 
                    name="valuation" 
                    placeholder="Total Valuation ($, Optional)"
                >
                <button type="submit" class="btn btn-success">Run</button>
            </div>

        </form>
    </section>

</article>

{% endblock %}