{% extends 'base.html' %}

{% block content %}

<!-- Get all stocks in a portfolio -->
<article class="profile">
    <section class="portfolio-list">   
        <h3> {{portfolio.name}} </h3> 
        <p> {{message}} </p>
        
        {% for stock in portfolio.stocks.all %}        
            <div class="stock">
                <span>
                    <i class="fas fa-exchange"></i>
                    &nbsp
                    {{stock.ticker}}
                </span>
                <span> XX % </span>
            </div>
        {% endfor %}
    </section>
</article>        

{% endblock %}