{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<!-- TODO: Create Portfolio Button -->

<article class="profile-article">
    <!-- Avatar -->
    <section>
        <img class="profile-img" src="https://cbsnews1.cbsistatic.com/hub/i/2016/12/14/4b7e3037-b62b-4f21-9e5c-1c181da45a6a/screen-shot-2016-12-14-at-4-25-12-pm.png" alt="avatar">
    </section>

    <!-- Portfolio: Current stocks | Add Stocks | Run Button -->
    {% for portfolio in user.portfolios.all %}  
        <section class="portfolio-list">

            <!-- Porfolio Header -->
            <div class="portfolio-header">
                <div>
                    <h3>{{portfolio.name}}</h3>
                    <h6>$ {{portfolio.valuation | intcomma }}</h6>
                </div>
                <a href="{% url 'portfolio_update' portfolio.pk %}">
                    <Button type="submit" class="btn btn-warning">Edit</button>
                </a>
            </div>

            <!-- Porfolio List -->
            {% for stock in portfolio.stocks.all %}
                <div class="stock">
                    <span>
                        {{stock.ticker}}
                    </span>
                    <div style="display:flex; align-items: center">
                        <span>$ {{stock.price | intcomma}}</span>
                        &nbsp
                        <span>
                            <form action="{% url 'stock_delete' portfolio.pk stock.pk %}" method="POST">
                            {% csrf_token %}
                                <button type=submit class="button-delete-stock">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </span>
                    </div>
                </div>
            {% endfor %}

            <a href="{% url 'stock_create' portfolio.pk %}">
                <Button class="btn btn-secondary porfolio-buttons">Add Stock</button>
            </a>

            <a href="{% url 'portfolio_delete' portfolio.pk %}">
                <Button class="btn btn-danger porfolio-buttons">Delete</button>
            </a>

            <a href="{% url 'portfolio_analyze' portfolio.pk %}">
                <Button class="btn btn-primary porfolio-buttons">Run Analysis</button>
            </a>
        </section>
    {% endfor %}
</article>    

    
{% endblock %}