{% extends 'base.html' %}

{% block content %}


<article class="profile">
    <!-- Avatar -->
    <section>
        <img src="https://cbsnews1.cbsistatic.com/hub/i/2016/12/14/4b7e3037-b62b-4f21-9e5c-1c181da45a6a/screen-shot-2016-12-14-at-4-25-12-pm.png" alt="avatar">
    </section>

    <!-- Portfolio: Current stocks | Add Stocks | Run Button -->
    {% for portfolio in user.portfolios.all %}  
        <section class="stock-list">  
            <h3>{{portfolio.name}}</h3>
            {% for stock in portfolio.stocks.all %}
                <div class="stock">
                    <span>
                        <i class="fas fa-exchange"></i>
                        &nbsp
                        {{stock.ticker}}
                    </span>
                    <span>{{stock.price}}</span>
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</article>    

    

{% endblock %}