{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<article class="profile">
    <section>     
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">
                Create
            </button>
        </form>

        <div>
            <h6> Closing Price: $ {{price | floatformat:2 }} <h6> 
            <h6> Date: {{date_of_price | date:"m/d/Y" }} <h6> 
        </div>

    </section>
</article>    

{% endblock %}