/* === References === */
    // Dark Landing UI: https://dribbble.com/shots/15469417-Dark-Landing-UI
    // GitHub Dark Mode (Alt): https://dribbble.com/shots/16755884-Dark-mode
    // ACO Readout: https://aco-viewer.appspot.com/61e8cc6aabea6cefce78fb23a507bc4f

$black: #030408;
$blue: #20275c;
$grey: #3f4445;
$green: #308f3e;
$purple: #332aa0;
$red: #9a3450;
$white: #e1e2e3;
$orange: #faa72e;